
<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <nb-card>
      <nb-card-header>Input</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label class="label" for="selectedInput">Selected Numbers</label>
          <input nbInput fullwidth #selectedInput (change)="setSelected(selectedInput.value)" type="text" class="input-full-width size-medium status-basic shape-rectangle nb-transition" [value]="selected" />
        </div>
        <div class="form-group">
          <label class="label" for="goalInput">Goal</label>
          <input nbInput fullwidth id="goalInput" [(ngModel)]="goal" type="number" class="input-full-width size-medium status-basic shape-rectangle nb-transition" [value]="goal" />
        </div>

        <div class="form-group">
          <nb-checkbox [checked]="allowNegatives" [(ngModel)]="allowNegatives" class="status-basic nb-transition">
            <label class="label" for="allowNegativeCheck">Allow Negatives</label>
            <input nbInput id="allowNegativeCheck" type="checkbox" />
          </nb-checkbox>
        </div>

        <div class="form-group">
          <button nbButton fullwidth status="success" class="appearance-filled size-medium status-success shape-rectangle nb-transition" type="button" value="Go" (click)="run()">Go</button>
        </div>

        <hr/>

        <p>
          Status: <span [class]="status.class">{{ status.statusMsg }}</span>
        </p>
        <p>
          Iterations: <span [countUp]="iterationCount"></span>
        </p>
      </nb-card-body>
      <nb-card-footer>
        <div class="form-group">
          <button nbButton fullwidth status="info" class="appearance-filled size-medium status-info shape-rectangle nb-transition" type="button" value="Random Puzzle" (click)="randomPuzzle()">Random Puzzle</button>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <nb-card>
      <nb-card-header>Tree</nb-card-header>
      <nb-card-body>
        <div class="bodyContainer">
          <div>
            <div id="treeContent"></div>
            <img src="assets/images/loading.gif" *ngIf="loading" />
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
