
.bodyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}


.digitContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .digitDisplay {
    padding: 2rem;
  }
}
